$breakpoints: (
	'xs-phone': 580px,
	'phone': 640px,
	'tablet': 768px,
	'tablet-x': 992px,
	'desktop': 1024px,
	'widescreen': 1200px,
	'widescreen-large': 1400px,
);
@import "media-mixins";
.sidebar{
  width: 100px;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 15px 0 0;
  border: 1px solid rgba(0,0,0,0.1);
  background: #fff;
  float: left;
  scrollbar-color: rgba(0,0,0,0.1) #fff;
  scrollbar-width: thin;

  &.active{
    width: 250px;
    overflow-y: scroll;

    nav{
      left: 0;
    }
  }

  nav{
    position: relative;
    left: -200px;
  }
}
.navOpener{
  width: 45px;
  height: 45px !important;
  line-height: 50px !important;
  text-align: center !important;
  font-size: 27px !important;
  color: rgba(0, 0, 0, 0.2) !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin: 10px auto 20px;
  padding: 0 !important;
  background: #fff !important;
  border: none !important;


  &:hover{
    color: #1c9312;
  }

}